main >div.row{
	margin: 15px 0;
	
}

html{
	min-height: 100%; 
	position: relative;	
}

body{
	margin-bottom: -60px;
}

footer{
	position: absolute;
	height: 60px;
	bottom: 0;
}

.pull-right{
	margin-right: 40px;
}

table {
    border-collapse: collapse;
    margin: 40px;
    
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}

#mensaje_conectados{
	margin: 40px;
}

#formAlumno{
	margin: 50px;
}


